/*@font-face {
font-family: 'CaviarDreams';
src: url('/dist/fonts/Quicksand-Bold.ttf');
}

* {
    font-family: 'Quicksand';
}

blockquote {
  font-family: 'Quicksand';
}

h1 {
    font-family: 'Quicksand';
}*/