<div ng-init="getPosts()">
   <h2>Home</h2>
<!-- ***************************************** [POST NEW POST] *****************************************************-->
   <div class="row headerforcomments" style="margin-left: 100px">
      <form ng-model="post"  enctype="multipart/form-data" role="form" ng-submit="post()">
         <!-- podatoci za korisnikot -->
         <div id="footer_post" class="row">
            <div class="col-lg-2">
               <img ng-src="images/users/{{user.profileImage}}" class="img-responsive" width="60" height="60" alt="" style="">
            </div>
            <div class="col-lg-10" style="maring-left: 0px">
               <textarea id="text_area_in_post" ng-model="post.message" class="form-control" rows="3" style="font-size: 15px" maxlength="250" placeholder="Post here... "></textarea>
            </div>
         </div>
         <!-- podatoci za korisnikot -->
         <div class="row" style="padding-left: 20px; padding-bottom: 7px; padding-right: 20px">
            <!-- Googple PLaces Directive -->
            <input ng-model="post.address" class="form-control" ng-show="toAddLocation" googleplace />
            <!-- <input class="form-control" type='text' ng-model="post.contact_phone" tabindex="1" placeholder="Enter you phone contact ..." ng-show="toAddContactPhone" phone-input /> -->
            <hr style="margin-bottom: 20px; margin-top: 20px;">
            <img id="previewImg" class="img-responsive" style="margin-bottom: 10px" ng-show="showImage">
            <ul style="margin-left: 0px" class="list-inline">
               <li class="fa fa-map-marker" style="color: #FFCC00" ng-show="showLocation">
                     <span style="color: #A3C2C2">{{post.address}}</span>
               </li>
            <li class="fa fa-phone" style="color: #99CCFF" ng-show="showContact"><span style="color: #A3C2C2">
            {{currentUser.contact_number}} </span>
         </li>
         <li class="fa fa-paw" style="color: #00FF99" ng-show="showType"><span style="color: #A3C2C2" ng-model="showType"> {{showType}} </span>
      </li>
   </ul>
   <hr ng-if="showHR" style="margin-bottom: 7px;">
   <div class="col-lg-10">
      <ul class="list-inline" style="margin-bottom: 0px;">
         <li style="cursor: pointer">
            <div class="form-group" style="color: #B0F2E5; font-size: 18px;">
               <label for="file-upload" class="glyphicon glyphicon-camera" />
                  <input id="file-upload" type="file" name="file" style="color: #B0F2E5;" file-model="post.post_picture" accept="image/*" />
               </div>
            </li>
            <li style="cursor: pointer"><a id="buttons_post"><span
            class="fa fa-map-marker" ng-click="addLocation()"></span></a>
         </li>
         <!-- <li style="cursor: pointer"><a id="buttons_post"><span
         class="fa fa-phone" ng-click="addPhone()"></span></a>
      </li> -->
<!-- ova e dropdown-ot i ne raboti :( - ne znam porke  -->
      <div class="btn-group" dropdown keyboard-nav>
         <p style="cursor: pointer">
            <a id="simple-btn-keyboard-nav" class="fa fa-paw" dropdown-toggle style="color: #B0F2E5; font-size: 20px; background: transparent; border: none">
               <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="simple-btn-keyboard-nav">
               <li style="cursor: pointer" role="menuitem" ng-click="adopt()"><a ng-model="comment.type" value="adopt">I am giving a pet (adopting)</a>
            </li>
            <li style="cursor: pointer" role="menuitem" ng-click="sell()"><a ng-model="comment.type" value="sell/giv">I am selling a pet</a>
         </li>
         <li style="cursor: pointer" role="menuitem" ng-click="lost()"><a ng-model="comment.type" value="found/lost">I have lost my pet</a>
      </li>
      <li style="cursor: pointer" role="menuitem" ng-click="found()"><a ng-model="comment.type" value="adopt">I have found someone's pet</a>
   </li>
   <li style="cursor: pointer" role="menuitem" ng-click="injure()"><a ng-model="comment.type" value="sell/giv">My pet is injured</a>
</li>
</ul>
</p>
</div>
<!-- ova e dropdown-ot i ne raboti :( - ne znam porke  -->
</ul>
</div>
<div class="col-lg-2" style="    padding-right: 0px;">
<input type="submit" class="button button-action button-circle  button-longshadow  pull-right" value="submit"> 
<i class="fa fa-paw"></i>
</button>
</div>
</div>
</form>
</div>
<!-- ***************************************** [POST NEW POST] *****************************************************-->
<!-- ***************************************** [OLD POSTS] *********************************************************-->
<div class="row headerforcomments" ng-repeat="post in posts" style="margin-left: 100px; padding-top: 0px; padding-left: 14px; padding-right: 14px;">
<div class="row" ng-if="post">
<div class="row " ng-class="post.type"></div>
<!-- boja spored tip -->
<div id="footer_post" class="row" style="margin-left: 1px">
<ul class="list-inline" style="margin-left: 13px; display: flex;">
<li>
<img ng-src="images/users/{{post.pet.profileImage}}"
class="img-responsive" width="80" height="80"></li>
<li style="padding-bottom: 10px;" align="top">
<h4 id="style_name" style="font-size: 20px; margin-top: 0px;">
{{currentUser.first_name}}
{{currentUser.last_name}}
</h4>
<ul class="list-inline" style="margin-bottom: 0px;">
<li> <i class="fa fa-clock-o" style="color: #FF0000"></i>
<span
style="color: #A3C2C2">{{convertTimestampToDate(post.created_at)}}</span>
<!-- convertTimestampToDate --> </li>
<li> <i class="fa fa-clock-o" style="color: #FF0000"></i>
<span
style="color: #A3C2C2">{{convertTimestampToTime(post.created_at)}}</span>
<!-- convertTimestampToDate --> </li>
<!-- <li>
   <i class="fa fa-phone" style="color: #99CCFF"
   ng-if="post.contact_phone"></i>
   <span
   style="color: #A3C2C2">{{post.contact_phone}}</span>
</li>
-->
</ul>
<i class="fa fa-map-marker" style="color: #FFCC00;"
id="stile_location" ng-if="post.address"></i>
<span
style="color: #A3C2C2">{{post.address}}</span>
</li>
</ul>
<hr
style="margin-left: 20px; margin-right: 34px; margin-top: 0px; margin-bottom: 0px;">
<div id="style_img_and_comment" class="row "
style="margin-top: 8px;">
<div class="col-lg-12" align="justify"
   style="padding-right: 0px;">{{post.message}}<button ng-click="showPost(1)">show</button></div>
<br>
<br>
<div class="col-ld-12" ng-if="post.image_comment"
align="center" style="margin-top: 10px; margin-left: 14px;">
<img ng-src="images/posts/{{post.image_comment}}"
class="img-responsive " alt="" style=""></div>
</div>
<hr
style="margin-left: 20px; margin-right: 34px; margin-top: 0px; margin-bottom: 0px;">
<div class="row">
<div class="col-lg-12 "
style="padding-left: 20px; padding-right: 28px;">
<br>
<i id="post-{{$index}}"
ng-click="like(post, $index)"
style="background: transparent; border: none; color: #e74c3c; font-size: 32px; padding: 0px; margin-left: 20px; cursor: pointer"
class="fa fa-heart-o"></i>
<span>{{comments[comments.length - 1 - $index].likes}}</span>
<span>
<button
class="pull-right button button-highlight button-circle  button-longshadow"
ng-click="openReplyModal(post.id)"
style="margin-right: 20px; margin-left: 20px; margin-bottom: 10px;"
>
<i class="fa fa-comment"></i>
</button>
<a
   id="skype-{{$index}}"
   href="skype:hardcode?chat&topic=this+works"
   ng-click="changeHrefForCall($index, post.pet.skypeId,1)"
   ng-if="post.pet.skypeId"
   class="pull-right  button button-primary button-circle button-longshadow">
   <i class="fa fa-skype"></i>
</a>
</span>
</div>
</div>
</div>
</div>
</div>
<!-- ***************************************** [OLD POSTS] *********************************************************-->
</div>